<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="mainTitle mtxl">INICIAR SESIÓN</div>

<div class="content">

    <form action="/login" method="POST">

        <div class="divInputsColumn mtxl mbxxl">

            <div class="divInput">
                <label class="label1">Usuario</label>
                <input type="text" name="userName" class="input1 ixl <%= locals.errors && errors.userName ? 'isInvalid' : null %>" value="<%= locals.oldData ? oldData.userName : null %>" autocomplete="off">
                <div class="divError">
                    <% if (locals.errors && errors.userName) { %>
                        <%= errors.userName.msg %>
                    <% } %>
                </div>        
            </div>

            <div class="divInput mtm">
                <label class="label1">Contraseña</label>
                <input type="password" name="password" class="input1 ixl <%= locals.errors && errors.password ? 'isInvalid' : null %>" autocomplete="off">
                <div class="divError">
                    <% if (locals.errors && errors.password) { %>
                        <%= errors.password.msg %>
                    <% } %>
                </div>
            </div>

        </div>

        <div class="divButtonsRow">
            <button type="submit" class="button1 bl">Ingresar</button>
        </div>

    </form>
</div>
