<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="mainTitle mtxl">INICIAR SESIÓN</div>

<div class="content">

    <form action="/login" method="POST">

        <div class="divInputsColumn mtxl mbxxl">

            <div class="divInput">
                <label class="label1 <%= locals.errors && errors.email ? 'invalidLabel' : null %>">Usuario</label>
                <input type="text" name="email" class="input1 ixxxl <%= locals.errors && errors.email ? 'invalidInput' : null %>" value="<%= locals.oldData ? oldData.email : null %>" autocomplete="off">
                <div class="divError2">
                    <% if (locals.errors && errors.email) { %>
                        <%= errors.email.msg %>
                    <% } %>
                </div>        
            </div>

            <div class="divInput mtm">
                <label class="label1 <%= locals.errors && errors.password ? 'invalidLabel' : null %>">Contraseña</label>
                <input type="password" name="password" class="input1 ixxxl <%= locals.errors && errors.password ? 'invalidInput' : null %>" autocomplete="off">
                <div class="divError2">
                    <% if (locals.errors && errors.password) { %>
                        <%= errors.password.msg %>
                    <% } %>
                </div>
            </div>

        </div>

        <div class="divButtonsRow">
            <button type="submit" class="button1 bl">Ingresar</button>
        </div>

    </form>
</div>
