<div class="header">

    <div class="topHeader">
        
        <div class="divCompanyLogo">
            <img src="/images/companyLogo.png" alt="Malta" class="companyLogo">
        </div>
        
            <div class="divUserLogged">
                <% if (locals.userLogged) { %>    
                    <div class="userLogged">
                        <i class="fa-regular fa-user iconUser"></i>
                        <div class="userLoggedName">
                            <%= userLogged.first_name + ' ' + userLogged.last_name %>
                            <div class=""><a href="/logout" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
                        </div>
                    </div>
    
                <% } %>
            </div>

    </div>

    <div class="bottomHeader <%= locals.bottomHeaderMenu ? 'bottomHeaderBorder' : null %>">

        <%= %>

        <% if (locals.bottomHeaderMenu) { %>            
            <% bottomHeaderMenu.forEach(itemMenu => { %>
                <% if (itemMenu.idsUsersCategories.includes(userLogged.id_users_categories)) { %>
                    <div class="itemsMenu" id="<%= 'itemsMenu_' + itemMenu.id %>">
                        <div class="itemHeaderMenu">
                            <a href="<%= itemMenu.href %>" class="<%= idSelectedItem == itemMenu.id ? 'refItemHeaderMenu selectedItem' : 'refItemHeaderMenu' %>"><%= itemMenu.name %></a>
                            
                        </div>
                        <% if (itemMenu.subitems.length > 0) { %>
                            <div class="subItems" id="<%= 'subItems_' + itemMenu.id %>">
                                <% itemMenu.subitems.forEach(subitem => { %>
                                    <a href="<%= subitem.href %>" class="subitemHeaderMenu"><%= subitem.subitem %></a>
                                <% }) %>
                            </div>                        
                        <% } %>
                    </div>
                <% } %>
            <% }) %>
        <% } %>

    </div>

</div>

<script type="module" src="/js/header.js"></script>












